@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homebrewed Starfinder</h1>
    <p class="lead">A tool for creating your own homebrewed settings, enemies, and sessions for the Starfinder Role-Playing Game.</p>
    <p> @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
    <p> @Html.ActionLink("Use testing account to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
</div>